<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Site about Worcester Massachusetts</title>
    <meta name="description"
        content="Description of Worcester Massachusetts, it's population, weather, time zone, interesting facts">
    <meta name="author" content="Xaidie Cambpell">
    <script src="scripts/place.js" defer></script>
    <link rel="stylesheet" href="styles/place.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
        rel="stylesheet">
</head>
<body>
</body>
<footer>
</footer>