:root {
    --color1: #5e718b;
    --color2: #96aa9a;
    --color3: #cf7041;
    --color4: #e2a55a;
    --color5: #868484;
    --color6: #dde5e6;
    --color7: #e8c3b9;
    --color8: #eddeda;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav {
    padding: 1rem;
    margin: 10px;
    background-color: var(--color7);
}

.logo {
    max-width: 100px;
}

img {
    max-width: 100px;
}

nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

nav a:hover {
    text-decoration: overline;
    text-size-adjust: var(--primary-color);
}

h1 {
    display: block;
    font: Gill Sans;
    grid-area: nav;
    background-color: #cf7041;
    padding: 1rem;
    text-align: center;
}

main {
    grid-area: nav;
    background-color: var(--color8);
    padding: 1rem;
    text-align: center;
}

h2 {
    color: #5e718b;
}

p {
    margin: 20px;
}

.color-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    margin: 10px;
    text-align: center;
    padding: 10px;
    background-color: black;
}

.blue-box {
    width: 100px;
    height: 100px;
    background-color: var(--color1);
}

.green-box {
    width: 100px;
    height: 100px;
    background-color: var(--color2);
}

.dkorange-box {
    width: 100px;
    height: 100px;
    background-color: var(--color3);
}

.ltorange-box {
    width: 100px;
    height: 100px;
    background-color: var(--color4);
}

.dkgray-box {
    width: 100px;
    height: 100px;
    background-color: var(--color5);
}

.ltgray-box {
    width: 100px;
    height: 100px;
    background-color: var(--color6);
}

.pink-box {
    width: 100px;
    height: 100px;
    background-color: var(--color7);
}

.ltpink-box {
    width: 100px;
    height: 100px;
    background-color: var(--color8);
}

footer {
    grid-area: nav;
    background-color: #cf7041;
    padding: 1rem;
    text-align: center;
}

img {
    width: 100%;
    max-width: 800px;
    height: auto;
}